# Ignore build artifacts
/build/

# Ignore dependencies
/node_modules/

# Ignore IDE files
/.vscode/
/.idea/

# Ignore compiled binaries
/bin/

/__pycache__/

/venv/

.pdf

/data/bsp/

/c_src/spice/cspice
/c_src/spice/cspice.tar
/c_src/spice/importCSpice.csh
